// File for scss-vars.
// For example: main colors, paddings and so on.

$color__link: #2a2929;
$color__link_hover: #2e56bc;
$color__nav-fixed__border: #e0e1e3;
$color__blue: #3252a6;
$color__green: #56c5af;

$container-width: 1240px;
$nav-fixed__height: 2em;
$color__pink: #cf4b97;
