<div class="container">
    <div class="hits">
        <div class="row">
            <div class="col-xs-3
                    col-md-3
                    col-lg-3">
                <h1 class="hits__heading">Хиты продаж</h1>
                <div class="carousel__item_large">
                    <img class="carousel__item__img" src="%=static=%img/content/product.jpg" alt="">
                    <a href="" class="carousel__item__title">Духи для женщин London Sophisticated</a>
                    <div class="carousel__item__row">
                        <div class="carousel__item__price">
                            <span class="carousel__item__price_small">2 150 ₽</span>
                            <span>1 789 ₽</span>
                        </div>
                        <div class="carousel__item__sb">
                            <select class="carousel__item__select" name="select">
                                <option value="value1">1 кг</option>
                                <option value="value2">2 кг</option>
                            </select>
                            <button class="carousel__item__buy"></button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xs-9
                    col-md-9
                    col-lg-9">
                <!-- Swiper -->
                <div class="swiper-container sw-h">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide sw-hit">
                            <div class="carousel__item">
                                <img class="carousel__item__img" src="%=static=%img/content/product.jpg" alt="">
                                <a href="" class="carousel__item__title">Духи для женщин London Sophisticated</a>
                                <div class="carousel__item__row">
                                    <div class="carousel__item__price">
                                        <span class="carousel__item__price_small">2 150 ₽</span>
                                        <span>1 789 ₽</span>
                                    </div>
                                    <div class="carousel__item__sb">
                                        <select class="carousel__item__select" name="select">
                                            <option value="value1">1 кг</option>
                                            <option value="value2">2 кг</option>
                                        </select>
                                        <button class="carousel__item__buy"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel__item">
                                <img class="carousel__item__img" src="%=static=%img/content/product.jpg" alt="">
                                <a href="" class="carousel__item__title">Духи для женщин London Sophisticated</a>
                                <div class="carousel__item__row">
                                    <div class="carousel__item__price">
                                        <span class="carousel__item__price_small">2 150 ₽</span>
                                        <span>1 789 ₽</span>
                                    </div>
                                    <div class="carousel__item__sb">
                                        <select class="carousel__item__select" name="select">
                                            <option value="value1">1 кг</option>
                                            <option value="value2">2 кг</option>
                                        </select>
                                        <button class="carousel__item__buy"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel__item">
                                <img class="carousel__item__img" src="%=static=%img/content/product.jpg" alt="">
                                <a href="" class="carousel__item__title">Духи для женщин London Sophisticated</a>
                                <div class="carousel__item__row">
                                    <div class="carousel__item__price">
                                        <span class="carousel__item__price_small">2 150 ₽</span>
                                        <span>1 789 ₽</span>
                                    </div>
                                    <div class="carousel__item__sb">
                                        <select class="carousel__item__select" name="select">
                                            <option value="value1">1 кг</option>
                                            <option value="value2">2 кг</option>
                                        </select>
                                        <button class="carousel__item__buy"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel__item">
                                <img class="carousel__item__img" src="%=static=%img/content/product.jpg" alt="">
                                <a href="" class="carousel__item__title">Духи для женщин London Sophisticated</a>
                                <div class="carousel__item__row">
                                    <div class="carousel__item__price">
                                        <span class="carousel__item__price_small">2 150 ₽</span>
                                        <span>1 789 ₽</span>
                                    </div>
                                    <div class="carousel__item__sb">
                                        <select class="carousel__item__select" name="select">
                                            <option value="value1">1 кг</option>
                                            <option value="value2">2 кг</option>
                                        </select>
                                        <button class="carousel__item__buy"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel__item">
                                <img class="carousel__item__img" src="%=static=%img/content/product.jpg" alt="">
                                <a href="" class="carousel__item__title">Духи для женщин London Sophisticated</a>
                                <div class="carousel__item__row">
                                    <div class="carousel__item__price">
                                        <span class="carousel__item__price_small">2 150 ₽</span>
                                        <span>1 789 ₽</span>
                                    </div>
                                    <div class="carousel__item__sb">
                                        <select class="carousel__item__select" name="select">
                                            <option value="value1">1 кг</option>
                                            <option value="value2">2 кг</option>
                                        </select>
                                        <button class="carousel__item__buy"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel__item">
                                <img class="carousel__item__img" src="%=static=%img/content/product.jpg" alt="">
                                <a href="" class="carousel__item__title">Духи для женщин London Sophisticated</a>
                                <div class="carousel__item__row">
                                    <div class="carousel__item__price">
                                        <span class="carousel__item__price_small">2 150 ₽</span>
                                        <span>1 789 ₽</span>
                                    </div>
                                    <div class="carousel__item__sb">
                                        <select class="carousel__item__select" name="select">
                                            <option value="value1">1 кг</option>
                                            <option value="value2">2 кг</option>
                                        </select>
                                        <button class="carousel__item__buy"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel__item">
                                <img class="carousel__item__img" src="%=static=%img/content/product.jpg" alt="">
                                <a href="" class="carousel__item__title">Духи для женщин London Sophisticated</a>
                                <div class="carousel__item__row">
                                    <div class="carousel__item__price">
                                        <span class="carousel__item__price_small">2 150 ₽</span>
                                        <span>1 789 ₽</span>
                                    </div>
                                    <div class="carousel__item__sb">
                                        <select class="carousel__item__select" name="select">
                                            <option value="value1">1 кг</option>
                                            <option value="value2">2 кг</option>
                                        </select>
                                        <button class="carousel__item__buy"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel__item">
                                <img class="carousel__item__img" src="%=static=%img/content/product.jpg" alt="">
                                <a href="" class="carousel__item__title">Духи для женщин London Sophisticated</a>
                                <div class="carousel__item__row">
                                    <div class="carousel__item__price">
                                        <span class="carousel__item__price_small">2 150 ₽</span>
                                        <span>1 789 ₽</span>
                                    </div>
                                    <div class="carousel__item__sb">
                                        <select class="carousel__item__select" name="select">
                                            <option value="value1">1 кг</option>
                                            <option value="value2">2 кг</option>
                                        </select>
                                        <button class="carousel__item__buy"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel__item">
                                <img class="carousel__item__img" src="%=static=%img/content/product.jpg" alt="">
                                <a href="" class="carousel__item__title">Духи для женщин London Sophisticated</a>
                                <div class="carousel__item__row">
                                    <div class="carousel__item__price">
                                        <span class="carousel__item__price_small">2 150 ₽</span>
                                        <span>1 789 ₽</span>
                                    </div>
                                    <div class="carousel__item__sb">
                                        <select class="carousel__item__select" name="select">
                                            <option value="value1">1 кг</option>
                                            <option value="value2">2 кг</option>
                                        </select>
                                        <button class="carousel__item__buy"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel__item">
                                <img class="carousel__item__img" src="%=static=%img/content/product.jpg" alt="">
                                <a href="" class="carousel__item__title">Духи для женщин London Sophisticated</a>
                                <div class="carousel__item__row">
                                    <div class="carousel__item__price">
                                        <span class="carousel__item__price_small">2 150 ₽</span>
                                        <span>1 789 ₽</span>
                                    </div>
                                    <div class="carousel__item__sb">
                                        <select class="carousel__item__select" name="select">
                                            <option value="value1">1 кг</option>
                                            <option value="value2">2 кг</option>
                                        </select>
                                        <button class="carousel__item__buy"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel__item">
                                <img class="carousel__item__img" src="%=static=%img/content/product.jpg" alt="">
                                <a href="" class="carousel__item__title">Духи для женщин London Sophisticated</a>
                                <div class="carousel__item__row">
                                    <div class="carousel__item__price">
                                        <span class="carousel__item__price_small">2 150 ₽</span>
                                        <span>1 789 ₽</span>
                                    </div>
                                    <div class="carousel__item__sb">
                                        <select class="carousel__item__select" name="select">
                                            <option value="value1">1 кг</option>
                                            <option value="value2">2 кг</option>
                                        </select>
                                        <button class="carousel__item__buy"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="carousel__item">
                                <img class="carousel__item__img" src="%=static=%img/content/product.jpg" alt="">
                                <a href="" class="carousel__item__title">Духи для женщин London Sophisticated</a>
                                <div class="carousel__item__row">
                                    <div class="carousel__item__price">
                                        <span class="carousel__item__price_small">2 150 ₽</span>
                                        <span>1 789 ₽</span>
                                    </div>
                                    <div class="carousel__item__sb">
                                        <select class="carousel__item__select" name="select">
                                            <option value="value1">1 кг</option>
                                            <option value="value2">2 кг</option>
                                        </select>
                                        <button class="carousel__item__buy"></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Add Arrows -->
                    <div class="carousel__arrows">
                        <div class="swiper-button-next carousel__next_h"></div>
                        <div class="swiper-button-prev carousel__prev_h"></div>
                    </div>

                </div>
                <a href="#" class="carousel__r-link">Все хиты продаж<img class="carousel__r-link__img" src="%=static=%img/assets/carousel/link-next.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>

