<div class="footer">
    <div class="container">


        <div class="row">
            <div class="col-xs-12
                        col-md-2
                        col-lg-2">
                {{Icon iconName='logo-small' className='footer__logo'}}
                <div class="social">
                    <div class="social__heading">
                        Следите за нами
                    </div>
                    <div class="social__items">
                        {{Icon iconName='vk' className='social__icon'}}
                        {{Icon iconName='fb' className='social__icon'}}
                        {{Icon iconName='pinterest' className='social__icon'}}
                    <div class="instagram"></div>
                    </div>

                </div>

            </div>
            <div class="col-xs-12
                        col-md-2
                        col-lg-2">
                <div class="footer__list__heading">
                    <a href="#">Наша компания</a>
                </div>
                <ul class="footer__list">
                    <li>
                        <a href="#">Сервисные центры</a>
                    </li>

                    <li>
                        <a href="#">Вакансии</a>
                    </li>

                    <li>
                        <a href="#">Мобильная версия</a>
                    </li>

                    <li>
                        <a href="#">Открыть пункт выдачи</a>
                    </li>
                </ul>
                {{Icon iconName='apple' className='download'}}

            </div>
            <div class="col-xs-12
                        col-md-2
                        col-lg-2">

                <div class="footer__list__heading">
                    <a href="#">Предложения для вас</a>
                </div>
                <ul class="footer__list">
                    <li>
                        <a href="#">Лаборатория подарка</a>
                    </li>

                    <li>
                        <a href="#">Советы по выбору</a>
                    </li>

                    <li>
                        <a href="#">Калькуляторы</a>
                    </li>

                    <li>
                        <a href="#">Подарочные сертификаты</a>
                    </li>
                </ul>

                {{Icon iconName='googlePlay' className='download'}}

            </div>
            <div class="col-xs-12
                        col-md-2
                        col-lg-3">


                <div class="footer__list__heading">
                    <a href="#">Клиентам</a>
                </div>
                <ul class="footer__list">
                    <li>
                        <a href="#">Отзывы</a>
                    </li>

                    <li>
                        <a href="#">Дополнительная гарантия</a>
                    </li>

                    <li>
                        <a href="#">Правила торговли</a>
                    </li>

                    <li>
                        <a href="#">О Компании</a>
                    </li>
                </ul>

                {{Icon iconName='mir' className='pay'}}
                {{Icon iconName='visa' className='pay'}}
                {{Icon iconName='mastercard' className='pay'}}
                {{Icon iconName='paypal' className='pay'}}


            </div>
            <div class="col-xs-12
                        col-md-3
                        col-lg-3">
                <div class="footer__heading">Новости, обзоры, акции</div>

                <div class="footer__subscribe">
                    <input class="subscribe__field" type="email" placeholder="Ваша эл. почта">
                    <input class="subscribe__submit" type="submit" value="Подписаться">
                </div>

            </div>
        </div>

        <p class="copy">
            Информация на сайте www.petz.ru не является публичной офертой. Указанные цены действуют только при оформлении заказа через интернет-магазин www.petz.ru<br>
            Обнаружив ошибку или неточность в тексте или описании товара, выделите ее и нажмите Shift+Enter.<br>
            Санкт-Петербург: +7 (800) 123-45-67, Москва: +7 (495) 123-45-67.
        </p>
    </div>
</div>
