<div class="news">
    <ul class="news__heading">
        <li><a href="#news">Новости</a></li>
        <li><a href="#reviews">Обзоры товаров</a></li>
    </ul>
    <div id="news">
        <div class="news__item">
            <div class="row">
                <div class="col-xs-5
                        col-md-5
                        col-lg-5">
                    <a href="#"><img class="news__img" src="http://via.placeholder.com/210x95" alt=""></a>
                 </div>
                <div class="col-xs-7
                        col-md-7
                        col-lg-7">
                    <a class="news__item__heading" href="#">Секс в мире животных</a>
                    <div class="news__item__text"> G-Vibe –самый многофункциональный массажер в мире</div>
                    <div class="news__item__view">{{Icon iconName='eye' className='news__item__view__icon'}} 52</div>
                </div>
            </div>

       </div>
        <div class="news__item">
            <div class="row">
                <div class="col-xs-5
                        col-md-5
                        col-lg-5">
                    <a href="#"><img class="news__img" src="http://via.placeholder.com/210x95" alt=""></a>
                 </div>
                <div class="col-xs-7
                        col-md-7
                        col-lg-7">
                    <a class="news__item__heading" href="#">Секс в мире животных</a>
                    <div class="news__item__text"> G-Vibe –самый многофункциональный массажер в мире</div>
                    <div class="news__item__view">{{Icon iconName='eye' className='news__item__view__icon'}} 52</div>
                </div>
            </div>

       </div>
        <div class="news__item">
            <div class="row">
                <div class="col-xs-5
                        col-md-5
                        col-lg-5">
                    <a href="#"><img class="news__img" src="http://via.placeholder.com/210x95" alt=""></a>
                 </div>
                <div class="col-xs-7
                        col-md-7
                        col-lg-7">
                    <a class="news__item__heading" href="#">Секс в мире животных</a>
                    <div class="news__item__text"> G-Vibe –самый многофункциональный массажер в мире</div>
                    <div class="news__item__view">{{Icon iconName='eye' className='news__item__view__icon'}} 52</div>
                </div>
            </div>

       </div>
        <div class="news__item">
            <div class="row">
                <div class="col-xs-5
                        col-md-5
                        col-lg-5">
                    <a href="#"><img class="news__img" src="http://via.placeholder.com/210x95" alt=""></a>
                 </div>
                <div class="col-xs-7
                        col-md-7
                        col-lg-7">
                    <a class="news__item__heading" href="#">Секс в мире животных</a>
                    <div class="news__item__text"> G-Vibe –самый многофункциональный массажер в мире</div>
                    <div class="news__item__view">{{Icon iconName='eye' className='news__item__view__icon'}} 52</div>
                </div>
            </div>

       </div>
    </div>
    <div id="reviews">
        Обзоры товаров
    </div>

    <a href="#" class="news__link">Все хиты продаж<img class="carousel__r-link__img" src="%=static=%img/assets/carousel/link-next.svg" alt=""></a>
</div>
