<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-3
                        col-md-3
                        col-lg-3">
                {{Icon iconName='logo' className='header__logo'}}
            </div>
            <div class="col-xs-5
                        col-md-5
                        col-lg-5">
                <div class="header__search">
                    <form action="/catalog/">
                        <input type="search" name="q" id="title-search-input" maxlength="50" autocomplete="off" placeholder="Поиск по товарам, брендам и категориям" value="">
                    </form>
                </div>
                <div class="header__links">
                    <a href="#" class="header__link link_contact">Все бренды</a>
                    <a href="#" class="header__link link_contact">Работаем в 5 регионах</a>
                    <a href="#" class="header__link link_contact">Адреса Зооцентров</a>
                </div>
            </div>
            <div class="col-xs-4
                        col-md-4
                        col-lg-4">
                <div class="header__right">
                        <div class="header__right__row">
                            <div class="header__right__tel">
                                <a class="header__right__tel__link" href="tel:+78003339302">8 (800) 333-93-02</a>
                                <a class="header__right__tel__text" href="">Заказать обратный звонок</a>
                            </div>
                            <div class="header__right__basket__wrap">
                                <div class="header__right__basket">
                                    {{Icon iconName='basket' className='header__right__basket__icon'}}
                                    <div class="header__right__basket__num"><span>19</span></div>
                                </div>
                                <div class="header__right__basket__text">
                                    <span>Нет товаров</span>
                                </div>
                            </div>

                        </div>
                    </div>
                <button class="header__button">У нас самые низкие цены! <span>Узнать почему</span></button>



                </div>
            </div>
        </div>
    </div>
</div>

<nav class="header__nav">
    <div class="container">
        <div class="menu">
            <ul >
               <li ><a href="#">Собакам</a>
                    <ul>
                        <li><a class="header__nav__heading_arrow" href="#">Корма</a>
                            <ul>
                                <li><a href="#">Уход за зубами</a></li>
                                <li><a href="#">Лекарство от блох</a></li>
                                <li><a href="#">Витамины</a></li>
                                <li><a href="#">Профилактические средства</a></li>
                                <li><a href="#">Спреи и шампуни</a></li>
                                <li><a href="#">Ежедневный уход</a></li>

                            </ul>
                        </li>
                        <li><a class="header__nav__heading_arrow" href="#">Аксессуары</a>
                            <ul>
                                <li><a href="#">Кровати</a></li>
                                <li><a href="#">Чашки и миски</a></li>
                                <li><a href="#">Одежды и костюмы</a></li>
                                <li><a href="#">Аксессуары</a></li>
                                <li><a href="#">Игрушки</a></li>

                            </ul>
                        </li>
                        <li><a class="header__nav__heading_arrow" href="#">Услуги</a>
                            <ul>
                                <li><a href="#">Салон красоты для животных</a></li>
                                <li><a href="#">Чашки и миски</a></li>
                                <li><a href="#">Одежды и костюмы</a></li>

                            </ul>
                        </li>
                        <div class="header__nav__brands">
                            <a class="header__nav__heading_arrow" href="#">Популярные бренды</a>
                            <div class="header__nav__brands__items">
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                            </div>
                        </div>

                    </ul>
                </li>
               <li ><a href="#">Кошкам</a>
                    <ul>
                        <li><a class="header__nav__heading_arrow" href="#">Корма</a>
                            <ul>
                                <li><a href="#">Уход за зубами</a></li>
                                <li><a href="#">Лекарство от блох</a></li>
                                <li><a href="#">Витамины</a></li>
                                <li><a href="#">Профилактические средства</a></li>
                                <li><a href="#">Спреи и шампуни</a></li>
                                <li><a href="#">Ежедневный уход</a></li>

                            </ul>
                        </li>
                        <li><a class="header__nav__heading_arrow" href="#">Аксессуары</a>
                            <ul>
                                <li><a href="#">Кровати</a></li>
                                <li><a href="#">Чашки и миски</a></li>
                                <li><a href="#">Одежды и костюмы</a></li>
                                <li><a href="#">Аксессуары</a></li>
                                <li><a href="#">Игрушки</a></li>

                            </ul>
                        </li>
                        <li><a class="header__nav__heading_arrow" href="#">Услуги</a>
                            <ul>
                                <li><a href="#">Салон красоты для животных</a></li>
                                <li><a href="#">Чашки и миски</a></li>
                                <li><a href="#">Одежды и костюмы</a></li>

                            </ul>
                        </li>
                        <div class="header__nav__brands">
                            <a class="header__nav__heading_arrow" href="#">Популярные бренды</a>
                            <div class="header__nav__brands__items">
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                            </div>
                        </div>

                    </ul>
                </li>
                <li ><a href="#">Птицам</a>
                    <ul>
                        <li><a class="header__nav__heading_arrow" href="#">Корма</a>
                            <ul>
                                <li><a href="#">Уход за зубами</a></li>
                                <li><a href="#">Лекарство от блох</a></li>
                                <li><a href="#">Витамины</a></li>
                                <li><a href="#">Профилактические средства</a></li>
                                <li><a href="#">Спреи и шампуни</a></li>
                                <li><a href="#">Ежедневный уход</a></li>

                            </ul>
                        </li>
                        <li><a class="header__nav__heading_arrow" href="#">Аксессуары</a>
                            <ul>
                                <li><a href="#">Кровати</a></li>
                                <li><a href="#">Чашки и миски</a></li>
                                <li><a href="#">Одежды и костюмы</a></li>
                                <li><a href="#">Аксессуары</a></li>
                                <li><a href="#">Игрушки</a></li>

                            </ul>
                        </li>
                        <li><a class="header__nav__heading_arrow" href="#">Услуги</a>
                            <ul>
                                <li><a href="#">Салон красоты для животных</a></li>
                                <li><a href="#">Чашки и миски</a></li>
                                <li><a href="#">Одежды и костюмы</a></li>

                            </ul>
                        </li>
                        <div class="header__nav__brands">
                            <a class="header__nav__heading_arrow" href="#">Популярные бренды</a>
                            <div class="header__nav__brands__items">
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                            </div>
                        </div>

                    </ul>
                </li>
                <li ><a href="#">Грызунам</a>
                    <ul>
                        <li><a class="header__nav__heading_arrow" href="#">Корма</a>
                            <ul>
                                <li><a href="#">Уход за зубами</a></li>
                                <li><a href="#">Лекарство от блох</a></li>
                                <li><a href="#">Витамины</a></li>
                                <li><a href="#">Профилактические средства</a></li>
                                <li><a href="#">Спреи и шампуни</a></li>
                                <li><a href="#">Ежедневный уход</a></li>

                            </ul>
                        </li>
                        <li><a class="header__nav__heading_arrow" href="#">Аксессуары</a>
                            <ul>
                                <li><a href="#">Кровати</a></li>
                                <li><a href="#">Чашки и миски</a></li>
                                <li><a href="#">Одежды и костюмы</a></li>
                                <li><a href="#">Аксессуары</a></li>
                                <li><a href="#">Игрушки</a></li>

                            </ul>
                        </li>
                        <li><a class="header__nav__heading_arrow" href="#">Услуги</a>
                            <ul>
                                <li><a href="#">Салон красоты для животных</a></li>
                                <li><a href="#">Чашки и миски</a></li>
                                <li><a href="#">Одежды и костюмы</a></li>

                            </ul>
                        </li>
                        <div class="header__nav__brands">
                            <a class="header__nav__heading_arrow" href="#">Популярные бренды</a>
                            <div class="header__nav__brands__items">
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                            </div>
                        </div>

                    </ul>
                </li>
                <li ><a href="#">Рыбкам</a>
                    <ul>
                        <li><a class="header__nav__heading_arrow" href="#">Корма</a>
                            <ul>
                                <li><a href="#">Уход за зубами</a></li>
                                <li><a href="#">Лекарство от блох</a></li>
                                <li><a href="#">Витамины</a></li>
                                <li><a href="#">Профилактические средства</a></li>
                                <li><a href="#">Спреи и шампуни</a></li>
                                <li><a href="#">Ежедневный уход</a></li>

                            </ul>
                        </li>
                        <li><a class="header__nav__heading_arrow" href="#">Аксессуары</a>
                            <ul>
                                <li><a href="#">Кровати</a></li>
                                <li><a href="#">Чашки и миски</a></li>
                                <li><a href="#">Одежды и костюмы</a></li>
                                <li><a href="#">Аксессуары</a></li>
                                <li><a href="#">Игрушки</a></li>

                            </ul>
                        </li>
                        <li><a class="header__nav__heading_arrow" href="#">Услуги</a>
                            <ul>
                                <li><a href="#">Салон красоты для животных</a></li>
                                <li><a href="#">Чашки и миски</a></li>
                                <li><a href="#">Одежды и костюмы</a></li>

                            </ul>
                        </li>
                        <div class="header__nav__brands">
                            <a class="header__nav__heading_arrow" href="#">Популярные бренды</a>
                            <div class="header__nav__brands__items">
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                            </div>
                        </div>

                    </ul>
                </li>
                <li ><a href="#">Рептилиям</a>
                    <ul>
                        <li><a class="header__nav__heading_arrow" href="#">Корма</a>
                            <ul>
                                <li><a href="#">Уход за зубами</a></li>
                                <li><a href="#">Лекарство от блох</a></li>
                                <li><a href="#">Витамины</a></li>
                                <li><a href="#">Профилактические средства</a></li>
                                <li><a href="#">Спреи и шампуни</a></li>
                                <li><a href="#">Ежедневный уход</a></li>

                            </ul>
                        </li>
                        <li><a class="header__nav__heading_arrow" href="#">Аксессуары</a>
                            <ul>
                                <li><a href="#">Кровати</a></li>
                                <li><a href="#">Чашки и миски</a></li>
                                <li><a href="#">Одежды и костюмы</a></li>
                                <li><a href="#">Аксессуары</a></li>
                                <li><a href="#">Игрушки</a></li>

                            </ul>
                        </li>
                        <li><a class="header__nav__heading_arrow" href="#">Услуги</a>
                            <ul>
                                <li><a href="#">Салон красоты для животных</a></li>
                                <li><a href="#">Чашки и миски</a></li>
                                <li><a href="#">Одежды и костюмы</a></li>

                            </ul>
                        </li>
                        <div class="header__nav__brands">
                            <a class="header__nav__heading_arrow" href="#">Популярные бренды</a>
                            <div class="header__nav__brands__items">
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                            </div>
                        </div>

                    </ul>
                </li>
                <li ><a class="header__nav__item_hightlight" href="#">Скидки %</a>
                    <ul>
                        <li><a class="header__nav__heading_arrow" href="#">Корма</a>
                            <ul>
                                <li><a href="#">Уход за зубами</a></li>
                                <li><a href="#">Лекарство от блох</a></li>
                                <li><a href="#">Витамины</a></li>
                                <li><a href="#">Профилактические средства</a></li>
                                <li><a href="#">Спреи и шампуни</a></li>
                                <li><a href="#">Ежедневный уход</a></li>

                            </ul>
                        </li>
                        <li><a class="header__nav__heading_arrow" href="#">Аксессуары</a>
                            <ul>
                                <li><a href="#">Кровати</a></li>
                                <li><a href="#">Чашки и миски</a></li>
                                <li><a href="#">Одежды и костюмы</a></li>
                                <li><a href="#">Аксессуары</a></li>
                                <li><a href="#">Игрушки</a></li>

                            </ul>
                        </li>
                        <li><a class="header__nav__heading_arrow" href="#">Услуги</a>
                            <ul>
                                <li><a href="#">Салон красоты для животных</a></li>
                                <li><a href="#">Чашки и миски</a></li>
                                <li><a href="#">Одежды и костюмы</a></li>

                            </ul>
                        </li>
                        <div class="header__nav__brands">
                            <a class="header__nav__heading_arrow" href="#">Популярные бренды</a>
                            <div class="header__nav__brands__items">
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                                <a href="#" class="header__nav__brands__item"><img src="" alt=""></a>
                            </div>
                        </div>

                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
