<nav class="nav-fixed">
    <div class="container">
            <div class="nav-fixed__menu">
                <div class="nav-fixed__left">

                    <div class="nav-fixed__menu__item"><a class="nav-fixed__menu__item__link" href="#" data-popup-open="city" >Санкт-Петербург</a></div>
                    <div class="nav-fixed__menu__item"><a class="nav-fixed__menu__item__link" href="#">Как заказать</a></div>
                    <div class="nav-fixed__menu__item"><a class="nav-fixed__menu__item__link" href="#">Доставка</a></div>
                    <div class="nav-fixed__menu__item"><a class="nav-fixed__menu__item__link" href="#">Услуги</a></div>
                    <div class="nav-fixed__menu__item"><a class="nav-fixed__menu__item__link" href="#" data-popup-open="register">Вход / Регистрация</a></div>
                    <div class="nav-fixed__menu__item" style="display: none">
                        <select class="nav-fixed__dd" name="select">
                            <option value="value1">Мой профиль</option>
                            <option value="value2">Мои заказы</option>
                            <option value="value3">Мои данные</option>
                            <option value="value4">Бонусы</option>
                            <option value="value5">Выйти</option>
                        </select>
                    </div>
                </div>
                <div class="nav-fixed__right">
                    <div class="nav-fixed__menu__item_icon">
                        {{Icon iconName='gruming' className='nav-fixed__icon'}}
                        <a class="nav-fixed__menu__item__link" href="#">Груминг</a></div>
                    <div class="nav-fixed__menu__item_icon">
                        {{Icon iconName='cross' className='nav-fixed__icon' iconWidth='15' iconHeight='16'}}
                        <a class="nav-fixed__menu__item__link" href="#">Ветеринарная клиника</a></div>
                </div>
            </div>
    </div>
</nav>


