<div class="container">
    <div class="app__wrap">
        <div class="row">
            <div class="col-xs-12
                        col-md-4
                        col-lg-4">
                <div class="subscribe">
                    <h1 class="subscribe__heading">Новости, обзоры, акции</h1>
                    <span class="subscribe__text">
                    Подпишитесь и получите <span class="subscribe__text_blue">500</span>{{Icon iconName='print' className='subscribe__print'}} в подарок!

                </span>
                    <form action="post">
                    <div class="subscribe__dd">
                        Мой любимец:
                        <select class="subscribe__dd__select" name="select">
                            <option value="value1">Собака</option>
                            <option value="value2">Котик</option>
                        </select>
                        <div class="subscribe__dd__row">
                            <input class="subscribe__field" type="email" placeholder="Ваша эл. почта">
                            <input class="subscribe__submit" type="submit" value="Подписаться">
                        </div>
                    </div>
                    </form>

                </div>
            </div>

            <div class="col-md-8
                        col-lg-8">
            <div class="app">
                <div class="app__icon__wrap">
                    {{Icon iconName='app-icon' className='app__icon'}}
                </div>
                <div>
                    <h1 class="subscribe__heading">Мобильное приложение</h1>
                    <span class="subscribe__text"> Мечта для питомца. Отдых для вас.</span>
                    <div>
                        <a href="" class="header__link link_contact">Прочитать о преимуществах</a>
                    </div>
                    <div class="app__buttons">
                        {{Icon iconName='googlePlay' className='download'}}
                        {{Icon iconName='apple' className='download'}}
                    </div>


                </div>

                <img class="app__phone" src="%=static=%img/assets/app/phone.png" alt="">

            </div>
            </div>
    </div>
</div>
</div>
