<div class="slider">
    <div class="container">
        <div class="row">
            <div class="col-xs-12
                col-md-12
                col-lg-9">
                <!-- Swiper -->
                <div class="swiper-container sw-main">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slider__item">
                                <h1 class="slider__heading">
                                    Супер-маркет зоотоваров<br>
                                    и услуги для питомцев
                                </h1>
                                <button class="slider__button">Узнать больше</button>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slider__item">
                                <h1 class="slider__heading">
                                    Супер-маркет зоотоваров<br>
                                    и услуги для питомцев
                                </h1>
                                <button class="slider__button">Узнать больше</button>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slider__item">
                                <h1 class="slider__heading">
                                    Супер-маркет зоотоваров<br>
                                    и услуги для питомцев
                                </h1>
                                <button class="slider__button">Узнать больше</button>

                            </div>
                        </div>

                        <!-- Add Arrows -->
                        <!--                    <div class="carousel__arrows">
                                                <div class="swiper-button-next carousel__next_h"></div>
                                                <div class="swiper-button-prev carousel__prev_h"></div>
                                            </div>-->

                    </div>
                </div>
            </div>


            <div class="col-lg-3">
                <div class="slider__banner">

                </div>

            </div>

        </div>
    </div>
</div>

