<div class="container">


    <!-- Swiper -->
    <div class="swiper-container sw-a">
        <h1 class="carousel__heading">Акции и скидки</h1>
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="carousel__item">
                    <img src="%=static=%img/content/product.jpg" alt="">
                    <a href="" class="carousel__item__title">Духи для женщин London Sophisticated</a>
                    <div class="carousel__item__row">
                        <div class="carousel__item__price">
                            <span class="carousel__item__price_small">2 150 ₽</span>
                            <span>1 789 ₽</span>
                        </div>
                        <div class="carousel__item__sb">
                            <select class="carousel__item__select" name="select">
                                <option value="value1">1 кг</option>
                                <option value="value2">2 кг</option>
                            </select>
                            <button class="carousel__item__buy"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="carousel__item">
                    <img src="%=static=%img/content/product.jpg" alt="">
                    <a href="" class="carousel__item__title">Духи для женщин London Sophisticated</a>
                    <div class="carousel__item__row">
                        <div class="carousel__item__price">
                            <span class="carousel__item__price_small">2 150 ₽</span>
                            <span>1 789 ₽</span>
                        </div>
                        <div class="carousel__item__sb">
                            <select class="carousel__item__select" name="select">
                                <option value="value1">1 кг</option>
                                <option value="value2">2 кг</option>
                            </select>
                            <button class="carousel__item__buy"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="carousel__item">
                    <img src="%=static=%img/content/product.jpg" alt="">
                    <a href="" class="carousel__item__title">Духи для женщин London Sophisticated</a>
                    <div class="carousel__item__row">
                        <div class="carousel__item__price">
                            <span class="carousel__item__price_small">2 150 ₽</span>
                            <span>1 789 ₽</span>
                        </div>
                        <div class="carousel__item__sb">
                            <select class="carousel__item__select" name="select">
                                <option value="value1">1 кг</option>
                                <option value="value2">2 кг</option>
                            </select>
                            <button class="carousel__item__buy"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="carousel__item">
                    <img src="%=static=%img/content/product.jpg" alt="">
                    <a href="" class="carousel__item__title">Духи для женщин London Sophisticated</a>
                    <div class="carousel__item__row">
                        <div class="carousel__item__price">
                            <span class="carousel__item__price_small">2 150 ₽</span>
                            <span>1 789 ₽</span>
                        </div>
                        <div class="carousel__item__sb">
                            <select class="carousel__item__select" name="select">
                                <option value="value1">1 кг</option>
                                <option value="value2">2 кг</option>
                            </select>
                            <button class="carousel__item__buy"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="carousel__item">
                    <img src="%=static=%img/content/product.jpg" alt="">
                    <a href="" class="carousel__item__title">Духи для женщин London Sophisticated</a>
                    <div class="carousel__item__row">
                        <div class="carousel__item__price">
                            <span class="carousel__item__price_small">2 150 ₽</span>
                            <span>1 789 ₽</span>
                        </div>
                        <div class="carousel__item__sb">
                            <select class="carousel__item__select" name="select">
                                <option value="value1">1 кг</option>
                                <option value="value2">2 кг</option>
                            </select>
                            <button class="carousel__item__buy"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="carousel__item">
                    <img src="%=static=%img/content/product.jpg" alt="">
                    <a href="" class="carousel__item__title">Духи для женщин London Sophisticated</a>
                    <div class="carousel__item__row">
                        <div class="carousel__item__price">
                            <span class="carousel__item__price_small">2 150 ₽</span>
                            <span>1 789 ₽</span>
                        </div>
                        <div class="carousel__item__sb">
                            <select class="carousel__item__select" name="select">
                                <option value="value1">1 кг</option>
                                <option value="value2">2 кг</option>
                            </select>
                            <button class="carousel__item__buy"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="carousel__item">
                    <img src="%=static=%img/content/product.jpg" alt="">
                    <a href="" class="carousel__item__title">Духи для женщин London Sophisticated</a>
                    <div class="carousel__item__row">
                        <div class="carousel__item__price">
                            <span class="carousel__item__price_small">2 150 ₽</span>
                            <span>1 789 ₽</span>
                        </div>
                        <div class="carousel__item__sb">
                            <select class="carousel__item__select" name="select">
                                <option value="value1">1 кг</option>
                                <option value="value2">2 кг</option>
                            </select>
                            <button class="carousel__item__buy"></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Add Arrows -->
        <div class="carousel__arrows">
            <div class="swiper-button-next carousel__next"></div>
            <div class="swiper-button-prev carousel__prev"></div>
        </div>

    </div>
    <a href="#" class="carousel__r-link">Все акции и скидки <img class="carousel__r-link__img" src="%=static=%img/assets/carousel/link-next.svg" alt=""></a>
</div>
